@media screen and (max-width: 480px){
	*{margin: auto; padding: 0; text-align: center;}
    html {
        font-family: "PT Sans", Helvetica, Arial, sans-serif;
        text-decoration: none;
        background: #eee;
    }
    body{ cursor:pointer; }
    body{
            font-family: "PT Sans", Helvetica, Arial, sans-serif;
            text-decoration: none;
            margin-left: 0 auto;
            margin-right: 0 auto;
            text-align: center;
    }
    header {

    }
    h1 {

    }
    h2 {
            text-align: center;
    }
    h3 {

    }
    li {

    }
    footer{
            font-size: .7em;
            text-align: center;
            clear: both;
            position: relative;
            top: 125px;
            padding-bottom: 25px;
    }
    a{

    }
    a:visited{

    }
    p{
        text-align: center;
        color: #024;
    }
    #logo{
            opacity: .95;
            display: block;
            position: relative;
            top: 30px;//50%;
            margin-bottom: 10px;
            padding-bottom: 10px;
            margin-left: auto;
            margin-right: auto;
            width: 200px;
            text-align: center;
    }
    #logoLarge{
            opacity: .9;
            display: block;
            clear: both;
            top: 50%;
            margin-bottom: 25px;
            padding-bottom: 10px;
            margin-left: auto;
            margin-right: auto;
            width: 350px;
            text-align: center;
    }
    #stdnav{
        display: none;
    }
    .nav {
            font-family: "PT Sans", Helvetica, Arial, sans-serif;
            width: 100%;
            font-size: .85em;
            height: 70px;
            line-height: 70px;
            background: #464646;
						border-top: 2px solid #999;
            position: relative;
            margin-bottom: 30px;
            color: #bbb;
            text-shadow: 1px 1px 1px #444;
            text-align: center;
    }
    .nav ul{
            margin: 0;
            padding: 0;
            list-style: none;
    }
    #minnavHead{
        display: inline-block;
        padding: 0px 20px;
        width: 100%;
        height: 70px;
        font-size: 1.1em;
        border-left: 1px solid rgba(0,0,0,0.3);
        border-right: 1px solid rgba(255,255,255,0.3);
        text-align: center;
			}
    #subminnav{
        display: none;
    }
    #minnavHead:hover > #subminnav{
        display: list-item;
        position: absolute;
        left: 0;
        width: 100%;
        margin: 0;
        overflow: visible;
        margin-left: 0 auto;
        margin-right: 0 auto;
    }
    #minnavHead:hover > #subminnav li a{
        display: block;
        position: relative;
        list-style: none;
        left: 0;
        width: 100%;
        color: #bbb;
        text-align: center;
        text-decoration: none;
        z-index: 1;
        background: #464646;
				border: 2px solid #111;

    }
    #minnavHead:hover > #subminnav li a:hover{
        display: block;
        font-size: 1.1em;
        border-left: 1px solid rgba(0,0,0,0.3);
        border-right: 1px solid rgba(255,255,255,0.3);
        text-align: center;
        background: #959595;
			}
    #minnavHead:hover > #subminnav li a:visited{
            color: #aaa;
    }
    .main h2{
            position: relative;
            /* top: 300px; */
            margin-top: 50px;
            padding-bottom: 25px;
            display: block;
    }
    .pic{
            background-color: #333;
            box-shadow: 5px 5px 5px #555;
            width: 175px;
            position: relative;
            display: block;
            border-radius: 10px;

            top: 30px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
    }
    .pic img{
            margin: 10px;
            box-shadow: 2px 2px 2px #555;
    }
    .connect{
        display: block;
        position: relative;
        text-align: center;
        margin-left: 0 auto;
        margin-right: 0 auto;
        color: #024;
        top: 50px;
    }
    .connectblock{
        display: block;
        position: relative;
        //float: right;
        //left: -50%;
        margin-left: 0 auto;
        margin-right: 0 auto;
        text-align: center;
        //left: 150px;
    }
    .connectblock ul{
        //left: 50%;
        margin-left: 0 auto;
        margin-right: 0 auto;
        text-align: center;
        position: relative;
        display: inline-block;
        list-style: none;
        overflow: visible;
    }
    .connect li{
            list-style: none;
            display: list-item;
            margin-left: 0 auto;
            margin-right: 0 auto;
            text-align: center;
            position: relative;
            overflow: visible;
    }
    .connect li img{
            background-color: #ffecca;
            display: block;
            position: relative;
            margin: auto;
            margin-top: 20px;
            margin-bottom: 20px;
            text-align: center;
            border-radius: 35px;
            border: 30px solid #ffe;
    }
    .connect label{
            text-decoration: none;
            color: #024;
            display: block;
            margin-left: 0 auto;
            margin-right: 0 auto;
            position: relative;
            height: 10px;
            text-align: center;
    }
    #git{

    }
    #in{
            width: 32px;
    }
    #twit{
            width: 38px;
    }
    #email{
        width: 38px;
    }
    .connect a{
            text-decoration: none;
            color: #024;
            display: block;
            position: relative;
    }
    .connect img:hover{
            box-shadow: 5px 5px 20px #555;
            border: 30px solid #eee;
            border-radius: 35px;
    }
    .connect li a label:hover{
            color: #68a;
    }
    .super{

    }
    .navslider{
            background: #333;
            box-shadow: 5px 5px 5px #666;
            width: 250px;
            height: 175px;
            position: relative;
            margin-left: auto;
            margin-right: auto;
            padding: 10px;
            clear: both;
            display: block;
    }
    /* Slider courtesy of http://codepen.io/AMKohn/pen/EKJHf */
    .slides {
        padding: 0px;
        width: 230px;
        height: 150px;
        display: block;
        margin: 0 auto;
        position: relative;
    }

    .slides * {
        user-select: none;
        -ms-user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -webkit-touch-callout: none;
    }

    .slides input { display: none; }

    .slide-container { display: block; }

    .slide {
        top: 0;
        opacity: 0;
        width: 230px;
        height: 150px;
        display: block;
        position: absolute;
            margin-top: 10px;
        transform: scale(0);

        transition: all .7s ease-in-out;
    }

    .slide img {
        width: 100%;
        height: 100%;
        box-shadow: 2px 2px 2px #555;
    }

    .navSL label {
        width: 50px;
        height: 100%;
        display: none;
        position: absolute;
            margin-top: 10px;
              opacity: 0;
        z-index: 9;
        cursor: pointer;

        transition: opacity .2s;

        color: #fff;
        font-size: 50pt;//156pt;
        text-align: center;
        line-height: 380px;
        font-family: "Varela Round", sans-serif;
        background-color: rgba(255, 255, 255, .3);
        text-shadow: 0px 0px 15px rgb(119, 119, 119);
    }

    .slide:hover + .navSL label { opacity: 0.5; }

    .navSL label:hover { opacity: 1; }

    .navSL .next { right: 0; }

    input:checked + .slide-container  .slide {
        opacity: 1;

        transform: scale(1);

        transition: opacity 1s ease-in-out;
    }

    input:checked + .slide-container .navSL label { display: block; }

    .nav-dots {
            width: 100%;
            bottom: 9px;
            height: 11px;
            display: block;
            position: absolute;
            text-align: center;
            margin-top: 10px;
    }

    .nav-dots .nav-dot {
            top: -5px;
            width: 11px;
            height: 11px;
            margin: 0 4px;
            position: relative;
            border-radius: 100%;
            display: inline-block;
            background-color: rgba(0, 0, 0, 0.6);
    }

    .nav-dots .nav-dot:hover {
            cursor: pointer;
            background-color: rgba(0, 0, 0, 0.8);
    }

    input#img-1:checked ~ .nav-dots label#img-dot-1,
    input#img-2:checked ~ .nav-dots label#img-dot-2,
    input#img-3:checked ~ .nav-dots label#img-dot-3,
    input#img-4:checked ~ .nav-dots label#img-dot-4,
    input#img-5:checked ~ .nav-dots label#img-dot-5,
    input#img-6:checked ~ .nav-dots label#img-dot-6 {
            background: rgba(0, 0, 0, 0.8);
    }
    #homelink{
            text-align: center;
            background-color: #464646;
            border-radius: 10px;
            font-size: .9em;
            margin-left: auto;
            margin-right: auto;
            width: 150px;
            line-height: 2;
            text-decoration: none;
            color: #bbb;
            display: block;
    }
    #homelink :hover{
            background-color: #55a;
            color: #bbb;
            width: 150px;
            border-radius: 10px;
            display: block;
    }
    #homelink a{
        text-decoration: none;
        color: #bbb;
    }
}
@media screen and (max-width: 480px) and (orientation:landscape){
    .slide {
        width: 450px;
        height: 305px;
    }
    .navslider{
            width: 470px;
            height: 325px;
    }
    .slides {
        width: 450px;
        height: 305px;
    }
}
